body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 16px;
                line-height: 1.2;
            }

p {
  text-align: justify;
  text-indent: 2ch;
  margin: 5px 0;

}
li {
  text-align: justify;
  line-height: 1.4;
}

ul, ol {
    list-style-position: outside;  /* маркер зліва */
    padding-left: 1.4ch;           /* відступ для коректного розташування */
	margin: 5px 0;
}
br + * {
    display: inline-block;
    text-indent: 2ch;  /* відступ у 2 символи */
}

p.figure {
    text-align: center;
	font-style: italic;
}

/* img { 
    display: block;       
    margin-left: auto;   
    margin-right: auto;   }*/

table {
  margin: 0 auto;
}



code {
    background-color: #1e1e1e; /* темно-сірий фон (як у терміналі) */
    color: #00ff00;       
	font-family: "Courier New", Courier, monospace;
    padding: 4px 6px;          /* внутрішні відступи */
    border-radius: 4px;        /* трохи закруглені кути */
}


pre code {
    background-color: #1e1e1e; /* темно-сірий фон (як у терміналі) */
    color: #00ff00;       
	font-family: "Courier New", Courier, monospace;
    padding: 4px 6px;          /* внутрішні відступи */
    border-radius: 4px;        /* трохи закруглені кути */
}



