p {
  text-align: justify;
  text-indent: 2ch;

}

p.figure {
    text-align: center;
	font-style: italic;
}

img {
    display: block;       /* робимо зображення блоковим елементом */
    margin-left: auto;    /* автоматичний відступ зліва */
    margin-right: auto;   /* автоматичний відступ справа */
}

ul, ol {
    list-style-position: outside;  /* маркер зліва */
    padding-left: 1.5ch;           /* відступ для коректного розташування */
}

code {
    background-color: #1e1e1e; /* темно-сірий фон (як у терміналі) */
    color: #00ff00;       
	font-family: "Courier New", Courier, monospace;
    padding: 4px 6px;          /* внутрішні відступи */
    border-radius: 4px;        /* трохи закруглені кути */
}
