body {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
                font-size: 16px;
                line-height: 1.2;
            }

p {
  text-align: justify;
  text-indent: 2ch;

}

br + * {
    display: inline-block;
    text-indent: 2ch;  /* відступ у 2 символи */
}

p.figure {
    text-align: center;
	font-style: italic;
}

img {
    display: block;       /* робимо зображення блоковим елементом */
    margin-left: auto;    /* автоматичний відступ зліва */
    margin-right: auto;   /* автоматичний відступ справа */
}

ul, ol {
    list-style-position: outside;  /* маркер зліва */
    padding-left: 1.5ch;           /* відступ для коректного розташування */
}

code {
    background-color: #1e1e1e; /* темно-сірий фон (як у терміналі) */
    color: #00ff00;       
	font-family: "Courier New", Courier, monospace;
    padding: 4px 6px;          /* внутрішні відступи */
    border-radius: 4px;        /* трохи закруглені кути */
}


pre code {
    background-color: #1e1e1e; /* темно-сірий фон (як у терміналі) */
    color: #00ff00;       
	font-family: "Courier New", Courier, monospace;
    padding: 4px 6px;          /* внутрішні відступи */
    border-radius: 4px;        /* трохи закруглені кути */
}

/* підсвічування синтаксису */
pre code .command { color: #00ff00; }   /* зелені команди */
pre code .arg     { color: #ffffff; }   /* білі аргументи */
pre code .path    { color: #00bfff; }   /* блакитні шляхи */
pre code .option  { color: #ffd700; }   /* жовті опції */
